table, tr, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table {
    border-radius: 1px;
    overflow: hidden;
}

#ttt td {
  width : 120px;
  height : 120px;
}

.marked-user {
  background-image: url(../images/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95px;
}

.marked-com {
  background-image: url(../images/o.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px;
}
