table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}
 #ttt td {
   width : 120px;
   height : 120px;
 }

 .marked-user {
   background-color: red;
 }

.marked-com {
  background-color: grey;
}
